Repository segmentio/segment-docs, changes with the owners that CODEOWNERS names for each.
All owners: @segmentio/segment-doc-team, @stayseesong, @markzegarelli, @pwseg, @rchinn-segment, @forstisabella

GA4 handling null/object/array types event parameters (#4075)
  src/connections/destinations/catalog/actions-google-analytics-4/index.md
Owners: @segmentio/segment-doc-team

Release 23.19.2 (#4720)
  src/_data/catalog/destination_categories.yml
  src/_data/catalog/destinations.yml
  src/_data/catalog/destinations_private.yml
  src/_data/catalog/regional-supported.yml
  src/_data/catalog/source_categories.yml
  src/_data/catalog/sources.yml
  src/_data/sidenav/main.yml
  src/_includes/content/functions/runtime.md
  src/connections/destinations/catalog/actions-google-analytics-4/index.md
  src/connections/destinations/catalog/google-tag-manager/index.md
  src/connections/destinations/catalog/mixpanel/index.md
  src/connections/sources/catalog/cloud-apps/attacker_source/index.md
  src/connections/sources/catalog/cloud-apps/clevertapx/index.md
  src/connections/sources/catalog/cloud-apps/hubspot-x/index.md
  src/connections/sources/catalog/cloud-apps/mixpanel-cohorts/index.md
  src/connections/sources/catalog/cloud-apps/navattic/index.md
  src/connections/sources/catalog/cloud-apps/source_b2/index.md
  src/connections/sources/catalog/libraries/mobile/react-native/index.md
  src/connections/storage/catalog/aws-s3/index.md
  src/engage/content/sms/template.md
  src/protocols/faq.md
Owners: @segmentio/segment-doc-team, @forstisabella, @markzegarelli, @pwseg, @rchinn-segment

change name to remove IO
  src/connections/destinations/catalog/dreamdata-io/index.md
Owners: @segmentio/segment-doc-team

update search tags for apple and android-kotlin libraries
  src/connections/sources/catalog/libraries/mobile/apple/implementation.md
  src/connections/sources/catalog/libraries/mobile/apple/index.md
  src/connections/sources/catalog/libraries/mobile/apple/migration.md
  src/connections/sources/catalog/libraries/mobile/kotlin-android/implementation.md
  src/connections/sources/catalog/libraries/mobile/kotlin-android/index.md
  src/connections/sources/catalog/libraries/mobile/kotlin-android/migration.md
Owners: @segmentio/segment-doc-team

Add details on Privacy Portal page for blocking/dropping fields
  src/privacy/portal.md
Owners: @segmentio/segment-doc-team

Improve wording
  src/privacy/portal.md
Owners: @segmentio/segment-doc-team

User Token is not taken for validation as Email is not in valid format.
  src/connections/destinations/catalog/actions-hubspot-cloud/index.md
Owners: @segmentio/segment-doc-team

Remove section
  src/connections/sources/catalog/libraries/mobile/react-native/destination-plugins/amplitude-react-native.md
Owners: @segmentio/segment-doc-team

add test message content
  src/engage/campaigns/email-campaigns.md
  src/engage/content/email/template.md
  src/engage/content/sms/template.md
Owners: @markzegarelli, @pwseg, @rchinn-segment

[netlify-build]
  src/engage/content/sms/template.md
Owners: @markzegarelli, @pwseg, @rchinn-segment

Update SMS campaigns
  src/engage/campaigns/sms-campaigns.md
Owners: @markzegarelli, @pwseg, @rchinn-segment

add new events for braze
  src/connections/sources/catalog/cloud-apps/braze/index.md
Owners: @segmentio/segment-doc-team

add consistent punctuation
  src/connections/sources/catalog/cloud-apps/braze/index.md
Owners: @segmentio/segment-doc-team

Update src/connections/sources/catalog/libraries/website/javascript/cookie validity update.md
  src/connections/sources/catalog/libraries/website/javascript/cookie validity update.md
Owners: @segmentio/segment-doc-team

edits
  src/connections/sources/catalog/libraries/website/javascript/cookie validity update.md
Owners: @segmentio/segment-doc-team

Add redirect for name update
  src/connections/sources/catalog/libraries/website/javascript/cookie-validity-update.md
Owners: @segmentio/segment-doc-team

add mini-toc to Advanced functionality section
  src/connections/sources/catalog/libraries/mobile/react-native/implementation.md
Owners: @segmentio/segment-doc-team

Add note that Help Scout OAuth supports one destination per user
  src/connections/destinations/catalog/help-scout/index.md
Owners: @segmentio/segment-doc-team

Add note about Talon.One rate limit
  src/connections/destinations/catalog/talon-one-actions/index.md
Owners: @segmentio/segment-doc-team

Add note about Marketo's Lead Activity Type IDs field
  src/connections/sources/catalog/cloud-apps/marketo/index.md
Owners: @segmentio/segment-doc-team

Add callout for ROW UI update
  src/engage/audiences/computed-traits.md
  src/engage/audiences/index.md
Owners: @markzegarelli, @pwseg, @rchinn-segment

Update docs for when GA4 will replace UA
  src/connections/destinations/catalog/actions-google-analytics-4/index.md
Owners: @segmentio/segment-doc-team

Update profile-api-limits.md with additional limitations
  src/unify/profile-api-limits.md
Owners: @rchinn-segment

CODEOWNERS:

* @segmentio/segment-doc-team
# The default owners for everything in
# the repo. Unless a later match takes precedence.
CODEOWNERS  @segmentio/segment-doc-team 


# Utility scripts
/scripts @segmentio/segment-doc-team

# Vale Linting
# /vale-styles @segmentio/segment-doc-team
# .vale.ini @segmentio/segment-doc-team


# Content owners should be in the order of PM, TL (team-lead), and EM (in a crisis) for a given team.
# This team will receive review requests automatically when a PR is submitted modifying the files in
# a given directory+subtree, or file type, etc. that matches below.  While Github won't enforce the
# order names are listed in for the PR review, this file can provide insight on who should be contacted
# if anything becomes time sensitive.  Names other than the PM can mostly ignore these review notifications
# but are listed here as backup.


# Libraries owners
/src/connections/catalog/libraries @stayseesong @markzegarelli


# Destinations owners
# /src/connections/destinations  @stayseesong @markzegarelli

# Stratconn
## Adobe


## Facebook


## Google


## Salesforce


# Engage
/src/engage/ @markzegarelli @pwseg @rchinn-segment

# Unify
/src/unify @rchinn-segment

# Protocols owners
/src/protocols @forstisabella

# Storage owners
/src/connections/storage @forstisabella
